

.productcomp{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;

    row-gap: 30px;
    
    width: 500px;
    align-items: center;
   
    
    color: brown;
  
    background-color: white;
    box-shadow: 0 0 5px 2px;
  
    padding: 30px 0;
  
    z-index:10;
  
  
  }
  
  .productinput{
  
    display: flex;
    position: relative;
    width: 300px;
    text-align: center;
    height: 20px;
    color: brown;
    outline: none;
    border-color: brown;
  
   
  
  
  }
  
  .addproductbutton{
  
    display: flex;
    position: relative;
    top: 10px;
    right: 110px;
    color:white;
    background-color: rgb(179, 23, 23);
  
    border: none;
    height: 30px;
  padding: 1vw;
  align-items: center;
  
  }
  
  .producth{
  
    display: block;
    position: relative;
    right: 100px;
    top: 10px;
    color: brown;
    
  }
  
  
  
  .productinput::placeholder {
    color: brown; /* Set the placeholder color to brown */
    opacity: 1; /* Make sure the opacity is set to 1 for full visibility */
  }
  
  .invalidinput{
  
    display: absolute;
    position: relative;
    font-size: small;
    width: max-content;
    top: -25px;
    right: 105px;
    color: red;
    height: 0px;
   
  }
  