body {
  background-color: #f8f5f5;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;

  min-height: 100vh;
  min-width: 100vw;
  padding: 0;
  margin: 0;
  /* background-color: green; */
 

}

* {
  padding: 0;
  margin: 0;
}

.maindiv {
 
  width: 100%; /* Ensure it spans the full width of its grid area */
  min-height: 70vh;
  display: flex; /* Keep flex for inner content alignment */
  flex-direction: column; /* Stack content vertically within maindiv */
  align-items: center; /* Center content horizontally within maindiv */
  justify-content: center; /* Align content to the top within maindiv */
  /* background-color: rgb(243, 247, 243);  */
  /* padding: 20px; */
  /* Removed padding-top here because the fixed navbar now handles this via position */
  overflow-y: auto; /* Add scrollbar if content exceeds main area height */
}
