.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height:fit-content;
  background-color: rgb(212, 138, 163);
  
  background-color: rgb(222, 112, 149);
  background-color: brown;
  color: black;
  position: relative;
  align-self: end;
  padding-top: 3vh;
  color: white;
  /* margin-top: 100%; */
  row-gap: 8vh;
  
}

.hedingdiv{

   /* background-color: red; */
}

.middlediv{

/* background-color: aqua; */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 90vw;
}

.middlediv>div{

  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  padding: 4vh;
}

.middlediv>div>h3{

  /* margin-left: 30%; */

  width: 100%;
  text-align: center;
  /* color: black; */
}

.middlediv>div>p{

  text-align: justify;
  /* width: 70%; */
  
}


.listdiv{

  /* background-color: bisque; */

}
