.product-table{
display: flex;
flex-direction: column;
justify-content: flex-start;
background-color: white;
padding: 2vw;

  box-shadow: 0 0 5px 2px brown;
  row-gap: 2px;
 
 
}

.product-list{
  border-collapse: collapse; 
}

.table-header-row{
  
  background-color: rgb(57, 57, 214);
  background-color: brown;
  color: white;
 
}

.th-cell{
 border: 1px solid black;
  width: 10vw;
  padding: 1vw 0;
}

#search-box{
  width: 30vw;
  height: 5vh;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  margin-right: 10px;
  color: brown;
}
::placeholder{

  color: brown;
}

.table-row{

  /* background-color: red; */
  
}

.td-cell{
   border: 1px solid black;
  width: 10vw;
  padding: 1vw 0;
  text-align: center;
}

.delete{

  background-color: brown;
  color: white;
  border: none;
  padding: 0.3vw;
  border-radius: 2px;
}