

.product-table{

   height: fit-content;
    padding: 10vh 0vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid red; */
   
  
}
  

.product-list{
  border-collapse: collapse; 
}

.table-header-row{
  
  background-color: rgb(57, 57, 214);
  background-color: brown;
  color: white;
 
}

.th-cell{

    border: 1px solid black;
}

.td-cell{
   border: 1px solid black;
}

#search-box{
  width: 30vw;
  height: 5vw;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 10px;
  margin-right: 10px;
  color: brown;
}
::placeholder{

  color: brown;
}


.delete{

  background-color: brown;
  color: white;
  border: none;
  padding: 0 0.3vw;
  border-radius: 2px;
  height: 50%;
}

.delete:hover{

  transform: translate(0.2vw);
}

.update-button-style{

  color: rgb(51, 51, 205);
  list-style: none;
  text-decoration: none;
   background-color: brown;
  color: white;
  border: none;
  padding: 0 0.3vw;
  height: 50%;
  border-radius: 2px;
  font-size: 1vw;
  text-align: center;
  align-content: center;
}

.update-button-style:hover{

  transform: translate(0.2vw);
}





.button-cell{

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  border-left: none;
  border-top: none;
  /* padding: 3vw 0; */
  
  
}



















@media screen and (min-width:1441px){


 


     .th-cell{

        font-size: 1.3vw;
        text-align: center;
        padding: 2vh 4vw;

    }
.td-cell{

    font-size: 1.3vw;
    text-align: center;
   padding: 2vh 4vw;
    
}

.delete{

        font-size: 1vw;
       padding: 0.5vw;
}

.update-button-style{

       font-size: 1vw;
       padding: 0.5vw;
}

#search-box{

    width: 60vw;
    height:3vw;
    font-size:1.2vw ;
    
    
}


}
@media screen and (max-width:1440px){


 


     .th-cell{

        font-size: 1.3vw;
        text-align: center;
        padding: 2vh 4vw;

    }
.td-cell{

    font-size: 1.3vw;
    text-align: center;
   padding: 2vh 4vw;
    
}

.delete{

        font-size: 1vw;
       padding: 0.5vw;
}

.update-button-style{

       font-size: 1vw;
       padding: 0.5vw;
}

#search-box{

    width: 60vw;
    height:3vw;
    font-size:1.2vw ;
    
    
}


}



@media screen and (max-width:768px){


  .product-table{

  
  }


     .th-cell{

        font-size: 2vw;
        text-align: center;
        padding: 2vh 4vw;

    }
.td-cell{

    font-size: 2vw;
    text-align: center;
   padding: 2vh 4vw;
    
}

.delete{

        font-size: 1.8vw;
       padding: 0.5vw;
}

.update-button-style{

       font-size: 1.8vw;
       padding: 0.5vw;
}

#search-box{

    width: 60vw;
    
    
}

/* .product-table{

    padding: 30vh 0;
} */
}
@media screen and (max-width:450px)
{
    .th-cell{

        font-size: 3vw;
        text-align: center;
        padding: 2vw;

    }
.td-cell{

    font-size: 3vw;
    text-align: center;
    padding: 2vw;
    
}

.delete{

    font-size: 2vw;
    padding: 1vw;
}

.update-button-style{

       font-size: 2vw;
       padding: 1vw;
}

#search-box{

    width: 70vw;
    font-size: 3vw;
    height: 5vw;
}



.button-cell{
  padding: 2.5vw 0;
}
}
